<div class="card-current" *ngIf="cityObj">
  <img src="../../assets/icons/1.gif" alt="" srcset="" width="80px" />
  <p>{{ cityObj.address.municipality }}</p>
  <p>{{ currentCondition.results[0].temperature.value }}°</p>
  <p>
    Hora: {{ currentCondition.results[0].dateTime | date: "dd/MM/yyyy HH:mm" }}
  </p>
</div>
<div class="card-current" *ngIf="cityObj">
  <ul>
    <li *ngFor="let daily of dailyForecast.forecasts">
      {{ daily.date | date: "EEE" }} - {{ daily.date | date: "dd/MM" }}, minima:
      {{ daily.temperature.minimum.value }}°, máxima:
      {{ daily.temperature.maximum.value }}°
    </li>
  </ul>
</div>
