.card-current {
  max-width: 250px;
  min-width: 250px;
  max-height: 160px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #ffffff;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-current h4 {
  margin: 5px 0;
}

.card-current p {
  margin: 0;
}

.updatedAt {
  font-size: 0.7rem;
}

.card-lists:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.ngTemplate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
