input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordion-wrapper {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  width: 240px;
  margin: 0 auto;
}
.accordion {
  position: relative;
  width: 100%;
  color: #000000;
  overflow: hidden;
  margin-bottom: 5px;
  background: rgba(143, 199, 238, 0.8);
  transition: 0.3s all ease-in-out;
}
.accordion:last-child {
  margin-bottom: 0;
}
.accordion-label {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8rem;
}
.accordion-label:hover {
  background: rgba(4, 57, 94, 1);
  color: #ffffff;
}

.accordion-label::after {
  content: "\276F";
  width: 10px;
  height: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.accordion-content {
  max-height: 0;
  padding: 0 8px;
  background: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.accordion-content p {
  margin: 0;
  font-size: 0.8rem;
}
input:checked + .accordion-label {
  background: rgba(4, 57, 94, 1);
  color: #ffffff;
}
input:checked + .accordion-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
input:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 5px;
}
