<div class="accordion-wrapper" *ngIf="dailyForecast; else nextDays">
  <div
    class="accordion"
    *ngFor="let daily of dailyForecast.forecasts; let index = index"
  >
    <input type="radio" name="radio-a" id="check{{ index }}" checked />
    <label class="accordion-label" for="check{{ index }}">
      {{ daily.date | date: "E" }} - {{ daily.date | date: "dd/MM" }}, min:
      {{ daily.temperature.minimum.value }}°, máx:
      {{ daily.temperature.maximum.value }}°
    </label>
    <div class="accordion-content">
      <p>
        <strong>Dia: </strong>{{ daily.day.shortPhrase }}, possibilidade de
        chuva: {{ daily.day.precipitationProbability }}%.
      </p>
      <p>
        <strong>Noite: </strong>{{ daily.night.shortPhrase }}, possibilidade de
        chuva: {{ daily.night.precipitationProbability }}%.
      </p>
    </div>
  </div>
</div>
<ng-template #nextDays>
  <p class="ngTemplate">
    Fique por dentro da previsão do tempo para os próximos 5 dias e planeje seus
    compromissos com mais segurança!
  </p>
</ng-template>
