.header {
  padding: 10px 40px;
  width: 100vw;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: rgba(4, 57, 94, 1);
}
.logo {
  margin: 10px;
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #ffffff;
}

.logo h1 {
  font-size: 1.5rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  transition: 0.3s all ease-in-out;
  outline: 0;
  border: none;
  width: 300px;
  height: 30px;
  padding: 10px;
  color: black;
  border-radius: 10px 0 0 10px;
  opacity: 0.4;
}

.search input:focus,
.search input:hover {
  opacity: 1;
}

.search-button {
  width: 60px;
  height: 30px;
  border: none;
  font-weight: bold;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin: 10px auto 0 auto;
  padding: 10px;
  width: 90vw;
  height: auto;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-group {
  margin: 10px;
  width: 280px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-group:nth-child(1) {
  padding: 20px 0;
  justify-content: space-around;
}

.card-header {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 5px 5px 0 0;
  top: 0;
  background: rgba(143, 199, 238, 0.8);
  transition: 0.2s all ease-in-out;
}

.card-header:hover {
  background: rgba(4, 57, 94, 1);
  color: #ffffff;
}

h3 {
  text-align: center;
}

.card-group .card-full {
  position: relative;
  justify-content: center;
  margin-top: 0;
}

.card-lists {
  max-width: 250px;
  min-width: 250px;
  max-height: 160px;
  min-height: 160px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 0 10px 10px 10px;
  background: #ffffff;
  border-radius: 5px;
  padding: 0 0 10px 0;
  transition: 0.3s all ease-in-out;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-lists:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card-lists-title {
  padding-bottom: 5px;
}

.city {
  margin: 5px;
  padding: 5px;
  width: 200px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.city:hover {
  font-weight: bold;
}

.city-delete,
.city-add {
  width: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}
