.header {
  padding: 10px 40px;
  width: 100vw;
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: #236591;
}
.logo {
  margin: 10px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  font-size: 1.5rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin: 10px auto 0 auto;
  padding: 20px;
  width: 90vw;
  height: 80vh;
  border: 3px solid #ffffff;
  border-radius: 15px;
  display: grid;
  grid:
    "cities now now now  next-days next-days" 200px
    "saved-cities now now now next-days next-days" 200px;
  gap: 25px;
}

.cities {
  grid-area: cities;
  height: 100%;
  overflow: auto;
}

.now {
  grid-area: now;
}

.saved-cities {
  grid-area: saved-cities;
  height: 100%;
  overflow: auto;
}

.next-days {
  grid-area: next-days;
}

.grid-item {
  padding: 10px;
  border-radius: 15px;
  transition: 0.2s all ease-in-out;
}

.grid-item:hover {
  transform: scale(1.05);
}

input {
  outline: 0;
  border: none;
  width: 300px;
  height: 30px;
  padding: 10px;
  color: black;
  border-radius: 10px 0 0 10px;
  opacity: 0.4;
}

input:focus {
  opacity: 1;
}

button {
  width: 60px;
  height: 30px;
  border: none;
  font-weight: bold;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.city {
  margin: 5px;
  padding: 5px;
  width: 250px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.city:hover {
  font-weight: bold;
}

li {
  list-style-type: none;
}

.grid-item {
  border: 1px solid black;
}
