<header class="header">
  <div class="logo">Clima Agora</div>
  <div class="search">
    <input
      #input
      [(ngModel)]="cityName"
      type="text"
      name="city"
      id="city"
      (keyup)="clearListCities()"
      placeholder="Digite aqui a cidade"
      #search
      (keyup.enter)="searchCity()"
      required
    />
    <button type="button" (click)="searchCity()" class="search-button">
      <img src="../../../assets/icons/pesquisa-de-lupa.png" width="20px" />
    </button>
  </div>
</header>

<div class="content">
  <section class="card-group">
    <div class="card-lists">
      <h3 class="card-lists-title"><strong>Resultado da busca</strong></h3>
      <ul *ngIf="cities.length > 0; else listIsEmpty">
        <li
          *ngFor="let city of cities; let index = index"
          (click)="selectedCity(index)"
        >
          <div
            class="city"
            (click)="currentCondition.searchCurrentCondition(city)"
          >
            {{ city.address.municipality }} -
            {{ city.address.countrySubdivision }},
            {{ city.address.countryCode }}
            <button
              type="button"
              class="city-add"
              (click)="addCityOnSavedCities(index)"
            >
              <img src="../../../assets/icons/add.png" width="25px" />
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="card-lists">
      <h3 class="card-lists-title"><strong>Locais salvos</strong></h3>
      <ul *ngIf="savedCities.length > 0; else favEmpty">
        <li
          *ngFor="let city of savedCities; let index = index"
          (click)="currentCondition.searchCurrentCondition(city)"
        >
          <div class="city">
            {{ city.address.municipality }} -
            {{ city.address.countrySubdivision }},
            {{ city.address.countryCode }}
            <button
              type="button"
              class="city-delete"
              (click)="removeCityOnSavedCities(index)"
            >
              <img
                src="../../../assets/icons/lixeira-de-reciclagem.png"
                width="15px"
              />
            </button>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="card-group card-full">
    <h3><strong>Tempo agora</strong></h3>
    <div>
      <app-weather #currentCondition></app-weather>
    </div>
  </section>
  <section class="card-group card-full">
    <div>
      <h3><strong>Próximos dias</strong></h3>
    </div>
    <app-daily
      #daily
      [dailyForecast]="currentCondition.dailyForecast"
    ></app-daily>
  </section>
</div>
<ng-template #listIsEmpty>
  <p>O resultado da sua busca aparecerá aqui!</p>
</ng-template>
<ng-template class="empty" #favEmpty>
  <p>Nada aqui...</p>
  <img src="../../../assets/icons/sono.png" width="50px" />
</ng-template>
<ng-template class="empty" #now>
  <p>
    Aqui você fica sabendo como está o clima na cidade desejada. Busque uma
    cidade na barra de pesquisas e comece!
  </p>
  <img src="../../../assets/icons/sono.png" width="50px" />
</ng-template>
<ng-template class="empty" #nextDays>
  <p>
    Acompanhe aqui a previsão do tempo para os próximos dias e evite surpesas
    indesejadas!
  </p>
</ng-template>
