<p>cities works!</p>

<label for="cidade">Digite a cidade: </label>
<input [(ngModel)]="cityName" type="text" name="cidade" id="cidade" />
<button type="button" (click)="searchCity()">Buscar</button>
<p>{{ cities[0] }}</p>
<!-- <table>
  <thead>
    <tr>
      <th>Cidade</th>
      <th>Estado</th>
      <th>País</th>
      <th>Código</th>
    </tr>
  </thead>
  <tbody *ngFor="let city of cities">
    <tr>
      <td>{{ city.LocalizedName }}</td>
      <td>{{ city.AdministrativeArea.ID }}</td>
      <td>{{ city.Country.LocalizedName }}</td>
      <td>{{ city.Key }}</td>
    </tr>
  </tbody>
</table> -->
